.page,body,html {
    height: 100%
}

body {
    overflow: hidden;
    margin: 0
}

@font-face {
    font-family:"Trade Gothic";src:url(fonts/tradegothicltstd-light.woff2) format("woff2"),url(fonts/tradegothicltstd-light.woff) format("woff"),url(fonts/tradegothicltstd-light.TTF) format("truetype")
}

@font-face {
    font-family:"Baskerville";src:url(/fonts/Baskerville.woff2) format("woff2"),url(/fonts/Baskerville.woff) format("woff"),url(/fonts/Baskerville.TTF) format("truetype")
}

h1,li {
    font-family: "Trade Gothic",sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.875rem;
    letter-spacing: .3125875rem;
    line-height: 3.4375rem;
    color: #141414;
    opacity: .9;
    text-align: center
}

ul li:first-child {
    padding-top: 28px
}

ul li:last-child {
    padding-bottom: 28px
}

.center ul li {
    position: relative;
    width: 200%;
    max-width: 1240px
}

.content .center ul li:hover, .terminal:hover > div > p{
    opacity: 1!important
}

.content:hover h2 {
    color: rgba(255,255,255,.7)!important;
    opacity: .7!important
}

.projects:hover ul>li {
    opacity: .3;
    cursor: pointer
}

.projects:hover div>div>h2 {
    opacity: .2
}

a,div,h1,h2,h3,li,p,ul {
    text-rendering: optimizeLegibility;
    -moz-transition: opacity .3s ease-in-out
}

a,div {
    -ms-transition: background-color .4s ease-in-out;
    -webkit-transition: background-color .4s ease-in-out;
    -o-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out
}

h1,h2,h3,li,p,ul {
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

img {
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    max-width: 100%;
    opacity: 0
}

.b-lazy.b-loaded {
    opacity: 1
}

h2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    line-height: 3.4375rem;
}
.terminal p, h2{
  opacity: .3
}
h3,p {
    font-family: "Baskerville",serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px
}

.quote p {
    text-align: center!important;
    padding: 0 15%;
    max-width: 740px;
    margin: auto
}

.terminal h3 {
    text-align: center;
    color: #fff;
    opacity: .7
}

li,ul,ul li {
    list-style-type: none;
    list-style-position: inside;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column
}

a {
    text-decoration: none;
    color: inherit
}

.footer,.header {
    width: 100%;
    height: 115px;
    position: fixed;
    z-index: 10
}

.header {
    top: 0;
    background: linear-gradient(#141414 ,rgba(20,20,20,0));
    background: -webkit-linear-gradient(#141414 ,rgba(20,20,20,0))
}

.footer {
    bottom: 0;
    background: linear-gradient(rgba(20,20,20,0),#141414)
}

.footer .terminal h3 {
    bottom: 0;
    position: absolute
}

.header .terminal h3 {
    top: 0;
    position: absolute
}

.page {
    background: rgba(14,14,14,.9);
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: auto;
    align-items: stretch;
    justify-content: space-between
}

.page li,.terminal p, h2  {
    color: #fff
}

.terminal {
    display: flex;
    justify-content: center
}

.space {
    z-index: 0;
    flex: 0 1 auto;
    /* padding: 0 40px */
}

.projects {
    flex-basis: auto;
    -ms-align-items: center;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto
}

.center,.content {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex
}

.content {
    max-width: 1240px;
    margin: 0 auto;
    overflow: hidden
}

.center {
    text-align: center;
    z-index: 10
}

.left,.right {
    flex-basis: auto;
    align-items: center;
    align-content: center;
    display: flex
}

.preview,.sizing {
    height: 100%;
    display: flex
}

.preview {
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    justify-content: center;
    filter: blur(5px);
    -webkit-filter: blur(5px)
}

.sizing {
    max-width: 900px
}

.close,.image,.sizing {
    align-items: center
}

.image {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.image div,.image img,.image video {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.image video {
    min-width: 80%;
    min-height: 80%;
    position: absolute
}

.close {
    flex: 0 1 10%;
    -ms-align-items: center
}

.close:hover,.close:hover>div>h2, .terminal p{
    cursor: pointer
}

.one,.three {
    flex: 1 1 auto;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center
}

.one h2,.three h2 {
    position: fixed;
    margin: 0
}

.three h2 {
    align-self: flex-start
}

.one h2 {
    align-self: flex-end;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.three h2 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.wrapper {
    top: 0;
    z-index: 10;
    display: flex;
    position: absolute;
    min-width: 100%;
    height: 100%;
    overflow-y: auto
}

.wrapper-background {
    z-index: 9;
    background-color: #0e0e0e;
    opacity: .8;
    position: absolute;
    height: 100%;
    width: 100%
}

.middle,.middle-content {
    background-color: #fff;
    flex-direction: column
}

.middle {
    flex: 1 3 auto;
    justify-content: center
}

.middle-content {
    display: flex
}

.description {
    width: 75%;
    position: fixed;
    left: 50%;
    margin-left: -37.5%;
    margin-top: 20px;
    z-index: 9
}

.text>p {
    padding: 0 10%;
    max-width: 800px;
    margin: 0 auto
}

.middle-content>div>div>h1,h3,p {
    color: #0e0e0e
}

.description-space {
    height: 50vh
}

.folio {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0;
    margin: 5vh 0 0;
    z-index: 15;
    position: relative;
    background-color: #fff
}

.img-frame,.interaction {
    min-width: 0;
    overflow: hidden
}

.img-frame {
    max-height: 900px
}

.img-frame:not(:last-child),.interaction {
    margin: 0 0 8rem
}

.img-frame iframe,.img-frame img,.img-frame video {
    max-width: 100%
}

.img-frame img:hover {
    transform: scale(1.02,1.02)
}

.img-container {
    align-self: stretch;
    display: flex;
    justify-content: center;
    margin: 0 0 4rem
}
#about .bio p{
  text-align: center;
}
#panopticon .description-space {
    height: 80vh
}

#panopticon_1.img-frame {
    margin: 0 0 2rem
}

#asPoster3,#asPoster4,#mvStationery,.img-frame.mvBanner {
    margin: 0
}

#mvKey.img-container {
    background-color: #fff;
    margin: 0
}

#mvHelmet.img-container,#mvOil.img-container {
    margin: 0;
    background-color: #000
}

#mvDivider.img-container {
    margin: 0;
    background-color: #7c181a
}

#mvDivider .img-frame,#mvHelmet .img-frame,#mvKey .img-frame,#mvOil .img-frame,#oil .img-frame {
    flex: .5 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 1440px
}

#mvJacket.img-frame {
    margin: 10vh 0
}

#web-wrapper,.img-frame.mvBanner_1 {
    margin: 4rem 0
}

#mvWeb .img-frame {
    margin: 0
}

#mvWeb.img-container {
    background: #8b1d1f;
    background: -moz-linear-gradient(-40deg,#8b1d1f 30%,#600f09 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(30%,#8b1d1f),color-stop(100%,#600f09));
    background: -webkit-linear-gradient(-40deg,#8b1d1f 30%,#600f09 100%);
    background: -o-linear-gradient(-40deg,#8b1d1f 30%,#600f09 100%);
    background: -ms-linear-gradient(-40deg,#8b1d1f 30%,#600f09 100%);
    background: linear-gradient(140deg,#8b1d1f 30%,#600f09 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b1d1f', endColorstr='#600f09', GradientType=1 )
}

#mvBike.img-container {
    background-color: #000
}

.img-container .full {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1400px;
    flex: 1 1 auto
}

.img-container .img-frame {
    max-height: 100%
}

.img-container img {
    max-width: 100%;
    max-height: 100%
}

#eet .img-frame:not(:last-child) {
    margin: 0
}

#eet .description-space {
    height: 45vh
}

#eet .end-space {
    height: 5vh
}

#reel .description-space {
    height: 45vh
}

#reel .folio {
    margin: 0
}

#reel .end-space {
    height: 15vh
}

.interaction,.video-frame {
    display: flex;
    align-self: stretch
}

.video-frame {
    flex: 1 1 auto;
    padding: 0 5%;
    height: 55vh
}

iframe {
    width: 100%;
    height: 100%
}

.interaction {
    justify-content: center;
    padding-top: 4rem;
    background-color: #fff
}

.interaction video {
    width: 65%;
    max-width: 350px
}

.img-detail,.interaction {
    max-height: 600px
}

.awards,.end-space {
    align-self: stretch;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 80px 7.5%;
    padding-bottom: 10rem;
    background-color: #fff;
    z-index: 15
}

.end-space {
    height: 20vh
}

.awards {
    height: 50vh
}

.awards-section,.status {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 auto
}

.awards-title h1 {
    margin-bottom: 0
}

.awards h2 {
    margin: 0;
    color: #141414;
    opacity: 1
}

.awards-section:hover {
    opacity: .4;
    background-color: #f1f1f1
}

.next-project {
    /* padding-bottom: 10rem; */
    background-color: #fff;
    z-index: 10
}

.next-project:hover {
    cursor: pointer
}

.next-project:hover>h1 {
    opacity: .4
}

.next-project>p {
    margin-top: 0;
    text-align: center
}

.status-container {
    padding: 5rem 7.5% 0;
    background: #fff;
    z-index: 15;
}

.status h1,.status h2 {
    color: #141414!important
}
@media
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi){
    /* Retina-specific stuff here */
    h1,li {
        font-size: 1.75rem;
        line-height: 3.25rem
    }

    ul li:first-child {
        padding-top: 26px
    }

    ul li:last-child {
        padding-bottom: 26px
    }

    .sizing {
        width: 607px
    }

    h2 {
        font-size: 1.625rem
    }

    h3,p {
        font-size: 1.375rem
    }

}

/* 1.3 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.3),
(min-resolution: 124.8dpi){
    /* Retina-specific stuff here */
    h1,li {
        font-size: 1.75rem;
        line-height: 3.25rem
    }

    ul li:first-child {
        padding-top: 26px
    }

    ul li:last-child {
        padding-bottom: 26px
    }

    .sizing {
        width: 607px
    }

    h2 {
        font-size: 1.625rem
    }

    h3,p {
        font-size: 1.275rem
    }
}

/* 1.5 dpr */
@media
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi){
    /* Retina-specific stuff here */
    /* macbook pro 15 inch */
    h1,li {
        font-size: 1.65rem;
        line-height: 3.15rem
    }
    h2 {
        font-size: 1.525rem
    }

    h3,p {
        font-size: 1.275rem
    }

    ul li:first-child {
        padding-top: 20px
    }

    ul li:last-child {
        padding-bottom: 20px
    }

    .sizing {
        width: 607px
    }
}

@media only screen and (max-width:1025px) and (-webkit-min-device-pixel-ratio:2) {
    h1,li {
        font-size: 1.75rem;
        line-height: 3.25rem
    }

    ul li:first-child {
        padding-top: 26px
    }

    ul li:last-child {
        padding-bottom: 26px
    }

    .sizing {
        width: 607px
    }

    h2 {
        font-size: 1.625rem
    }

    h3,p {
        font-size: 1.375rem
    }
}

@media only screen and (max-width:768px) and (-webkit-min-device-pixel-ratio:2) {
    .left,.right {
        display: none
    }

    h1,li {
        font-size: 1.65rem;
        line-height: 3.15rem
    }
    h2 {
        font-size: 1.525rem
    }

    h3,p {
        font-size: 1.275rem
    }

    ul li:first-child {
        padding-top: 20px
    }

    ul li:last-child {
        padding-bottom: 20px
    }

    .sizing {
        width: 607px
    }

    .video-frame {
        height: 40vh
    }

    .img-frame:not(:last-child),.interaction {
        margin: 0 0 4rem
    }

    #reel .description-space {
        height: 50vh
    }
}

@media only screen and (max-width:376px) and (-webkit-min-device-pixel-ratio:2) {
    h1,li {
        font-size: 1.25rem;
        line-height: 2.25rem
    }

    ul li:first-child {
        padding-top: 18px
    }

    ul li:last-child {
        padding-bottom: 18px
    }

    .sizing {
        width: 376px
    }

    .img-frame {
        max-height: 300px;
        margin: 0 0 4rem
    }

    .interaction {
        padding-top: 2rem
    }

    #eet .img-frame:not(:last-child),.img-frame:not(:last-child),.interaction {
        margin: 0 0 1rem
    }

    .img-container .img-frame {
        margin: 0
    }
}
